.activity-card {
    & {
        max-width: 36rem;
        margin: auto;
        background-color: $color-white;
        border-radius: $component-border-radius;
        padding: 3rem;
    }

    &__title {
        margin-bottom: 2.4rem;
    }

    &__info-wrapper {
        margin-bottom: 4rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info:not(:last-child) {
        margin-bottom: 1rem;
    }

    .btn {
        width: 100%;
    }
}