:root {
    --form-control-padding-x: var(--btn-padding-x);
    --form-control-padding-y: var(--btn-padding-y);
    --form-control-radius: 55em;
}

.form-group {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.form-control {
    background: #eee;
    background: $color-white;
    transition: all 0.3s ease;
    padding: var(--form-control-padding-y) var(--form-control-padding-x);
    border-radius: var(--form-control-radius);
    font-size: 1.6rem;
}

.form-label {
    margin-bottom: 8px;
}